html,
body {
	height: 100%;
	position: relative;
	overflow-x: hidden;
}
body {
	font-family: "HelveticaNeue";
	font-style: normal;
	font-weight: 400;
	line-height: 1.675;
	background-color: #191919;
	color: #fff;
}
.wrapper {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	min-height: 100%;
}
.main {
	flex: 1 1 auto;
}
.footer {
	flex: 0 0 auto;
}
[class*="__container"] {
	max-width: $maxWidthContainer + px;
	margin: 0 auto;
	padding: 0 15px;
}
.container-fluid {
	max-width: 100%;
	margin: 0 auto;
	padding: 0 30px;
}
@media (max-width: 768px) {
	.container-fluid {
		padding: 0 15px;
	}
}

.button {
	font-weight: 700;
	font-size: 18px;
	line-height: 1.22;
	text-align: center;
	letter-spacing: 3.2px;
	color: #1f1f1f;
	background-color: $color-green;
	border-radius: 43px;
	transition: all 0.3s ease 0s;
	border: 1px solid transparent;

	&:hover {
		color: $color-green;
		background-color: #1f1f1f;
		border: 1px solid #fff;
	}

	// .button_grey

	&_grey {
		background-color: #262626;
		border: 2px solid #303030;
		text-transform: uppercase;
		font-size: 10px;
		line-height: 1.3;
		letter-spacing: 2px;
		text-transform: uppercase;
		color: rgba(255, 255, 255, 0.5);
		transition: all 0.3s ease 0s;

		&:hover {
			border: 2px solid rgba(255, 255, 255, 0.5);
			background-color: #303030;
		}
	}
}

.title {
	position: relative;
	text-align: center;
	span {
		font-weight: 900;
		@include adaptiv-value("font-size", 100, 90, 1);
		line-height: 1.5;
		@include adaptiv-value("letter-spacing", 20, 6, 1);
		text-transform: uppercase;
		color: #303030;
		position: relative;
	}
	h3 {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		font-weight: 400;
		@include adaptiv-value("font-size", 30, 16, 1);
		line-height: 2;
		letter-spacing: 6px;
		text-transform: capitalize;
		color: #d9d9d9;
		width: 100%;
	}

	&::before {
		content: "";
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translate(-50%, 0%);
		width: 60px;
		height: 2px;
		background-color: $color-green;
	}
}

// .breadcrumbs {
// 	&__inner {
// 		padding: 45px 0px 40px;
// 	}
// 	&__list {
// 		li {
// 			display: inline-block;
// 			position: relative;
// 			& + li {
// 				padding-left: 24px;
// 				&::before {
// 					content: "-";
// 					position: absolute;
// 					left: 8px;
// 					color: $green;
// 				}
// 			}
// 			&:last-child {
// 				a,
// 				span {
// 					color: $bg;
// 				}
// 			}
// 		}
// 		a {
// 			color: #b0bec5;
// 		}
// 	}
// }
