// // @media (max-width: px) {
// // }
// /* Условные ПК, ноуты и телевизоры */
// /* 1050 из макета (контейнер + отступы) */
// @media (max-width: 1050px) {
// }
// /* Условные планшеты */
// @media (max-width: 991.98px) {
// }
// /* Условные мобилки */
// @media (max-width: 767.98px) {
// }

// /* №1 */
// @media (max-width: 1050px) {
// 	[class*="__container"] {
// 		/* max-width: 970px; */
// 	}
// }
// /* №2 */
// @media (max-width: 991.98px) {
// 	[class*="__container"] {
// 		/* max-width: 750px; */
// 	}
// }
// /* №3 */
// @media (max-width: 767.98px) {
// 	[class*="__container"] {
// 		/* max-width: none; */
// 	}
// }
// /* №4 */
// @media (max-width: 479.98px) {
// 	[class*="__container"] {
// 		/* max-width: none; */
// 	}
// }

@media (max-width: ($maxWidth + px)) {
	.basics {
		@include adaptiv-value("margin-top", -240, -150, 1);
	}
}

@media (max-width: ($maxWidthContainer + px)) {
	.recipes__rows {
		flex-direction: column;
	}
}
@media (max-width: 767.98px) {
	.menu {
		position: absolute;
		background-color: rgba(0, 0, 0, 0.8);
		width: 100%;
		top: 100%;
		left: 0;
		z-index: 1;
		overflow: hidden;

		transform: translate(-110%, 0%);
		transition: all 0.5s ease 0s;
		opacity: 0;

		&__item {
			margin-right: 0;
			&:not(:last-child) {
				margin: 0;
			}
		}
		&__list {
			display: block;
			text-align: center;
		}
		&__link {
			padding: 15px 0;
			font-size: 20px;
		}
	}

	.header__menu.header__menu--active {
		transform: translate(0%, 0%);
		opacity: 1;
	}
	.header__burger--active {
		&::before {
			transform: rotate(45deg);
			top: 9px;
		}
		&::after {
			transform: rotate(-45deg);
			bottom: 9px;
		}
		span {
			transform: scale(0);
		}
	}
	.work__item {
		flex: 1 1 50%;
	}
	.dishes__item {
		flex: 1 1 50%;
	}
	.item-dishes__actions {
		flex-direction: column;
		row-gap: 40px;
	}
	.rating {
		font-size: 40px;
	}
	.rating__value {
		font-size: 50%;
	}
	.button_grey {
		width: 100%;
	}
	.chefs__item {
		flex: 0 1 50%;
	}
}

@media (max-width: 479.98px) {
	.work__item {
		flex: 1 1 auto;
	}
	.dishes__item {
		flex: 1 1 auto;
	}
	.chefs__item {
		flex: 1 1 auto;
	}
}

@media (min-width: 767.98px) {
	.header__burger {
		display: none;
	}
	.slider-basics {
		.slick-arrow.slick-prev {
			&:hover {
				background-color: #fff;
			}
		}
		.slick-arrow.slick-next {
			&:hover {
				background-color: #fff;
			}
		}
	}
}

@media (min-width: ($maxWidth + px)) {
	.basics {
		margin-top: -200px;
		@include adaptiv-value("margin-top", -240, -50, 1);
	}
}
