@import "_vars";
@import "_libs";
@import "_mixins";
@import "_fonts";
@import "_null";
@import "_global";

//========================================================================================

// &display=swap
// &subset=cyrillic-ext
@import url("https://fonts.googleapis.com/css?family=Roboto:regular,500,700&display=swap&subset=cyrillic-ext");

//========================================================================================

.header {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	z-index: 50;
	border-bottom: 2px solid rgba(255, 255, 255, 0.1);

	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(48, 48, 48, 0.9);
		z-index: 2;
	}
	// .header__container

	&__container {
	}

	// .header__body

	&__body {
		position: relative;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		column-gap: 15px;
		row-gap: 15px;
		padding: 10px 0;
		height: 90px;
	}

	// .header__logo

	&__logo {
		flex: 0 0 207px;
		position: relative;
		z-index: 3;
	}

	// .header__burger

	&__burger {
		position: relative;
		display: block;
		width: 30px;
		height: 20px;
		position: relative;
		z-index: 3;

		span {
			position: absolute;
			background-color: #fff;
			top: 9px;
			left: 0;
			width: 100%;
			height: 2px;
			transition: all 0.3s ease 0s;
		}
		&::before {
			content: "";
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 2px;
			background-color: #fff;
			transition: all 0.3s ease 0s;
		}
		&::after {
			content: "";
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			height: 2px;
			background-color: #fff;
			transition: all 0.3s ease 0s;
		}
	}

	// .header__menu

	&__menu {
	}
}
.menu {
	// .menu__list

	&__list {
		display: flex;
		position: relative;
		z-index: 2;
	}

	// .menu__item

	&__item {
		&:not(:last-child) {
			margin-right: 35px;
		}
	}

	// .menu__link

	&__link {
		font-weight: 700;
		font-size: 14px;
		transition: all 0.5s ease 0s;

		&:hover {
			color: $color-green;
		}
	}
}

//========================================================================================

.food {
	min-height: 1080px;
	background: url("../images/main/main-bg.png") top right / cover no-repeat;
	// .food__container

	&__container {
		@include adaptiv-value("padding-top", 170, 120, 1);
	}

	// .food__content

	&__content {
		max-width: 940px;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 0px auto;

		&:not(:last-child) {
			margin-bottom: 70px;
		}
	}

	// .food__title

	&__title {
		font-size: 72px;
		@include adaptiv-value("font-size", 72, 40, 1);
		line-height: 1.17;
		font-weight: 700;
		text-align: center;
		letter-spacing: 2px;
		text-transform: capitalize;

		span {
			font-weight: 400;
		}

		&:not(:last-child) {
			margin-bottom: 16px;
		}
	}

	// .food__text

	&__text {
		max-width: 595px;
		@include adaptiv-value("font-size", 16, 14, 1);

		&:not(:last-child) {
			margin-bottom: 40px;
		}
	}

	// .food__button

	&__button {
		@include adaptiv-value("padding-top", 25, 10, 1);
		@include adaptiv-value("padding-right", 58, 25, 1);
		@include adaptiv-value("padding-bottom", 25, 10, 1);
		@include adaptiv-value("padding-left", 58, 25, 1);
	}

	// .food__items

	&__items {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -15px;
		row-gap: 30px;
	}

	// .food__item

	&__item {
		padding: 0 15px;
		flex: 1 1 33.333%;
		min-width: 190px;
	}
}

.item-food {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;

	// .item-food_time

	&_time {
	}

	// .item-food_location

	&_location {
	}

	// .item-food_phone

	&_phone {
	}

	// .item-food__icon

	&__icon {
		&:not(:last-child) {
			margin-bottom: 13px;
		}
	}

	// .item-food__info

	&__info {
		line-height: 1.88;
		text-align: center;
	}

	// .item-food__text

	&__text {
		font-size: 14px;
		line-height: 2;
		opacity: 0.5;
	}
}

//========================================================================================

.basics {
	margin-top: -240px;
	// .basics__container

	&__container {
		background-color: #252525;
		box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
		border-radius: 6px;
		padding: 0 10px;
		@include adaptiv-value("padding-top", 60, 30, 1);
		@include adaptiv-value("padding-bottom", 90, 40, 1);
	}

	// .basics__body

	&__body {
	}

	// .basics__title

	&__title {
		&:not(:last-child) {
			margin-bottom: 20px;
		}
	}

	// .basics__text

	&__text {
		max-width: 740px;
		text-align: center;
		margin: 0px auto;
		font-weight: 400;
		line-height: 1.88;
		color: #a6a6a6;
		@include adaptiv-value("margin-bottom", 90, 50, 1);
	}

	// .basics__slider

	&__slider {
	}

	.slick-list {
		overflow: hidden;
	}

	.slick-track {
		display: flex;
		align-items: flex-start;
		@include adaptiv-value("column-gap", 30, 10, 1);
	}
}

.slider-basics {
	position: relative;
	padding: 0 180px;
	@include adaptiv-value("padding-left", 180, 45, 1);
	@include adaptiv-value("padding-right", 180, 45, 1);
	.slick-arrow {
		position: absolute;
		top: 50%;
		transform: translate(0%, -50%);
		z-index: 10;
		font-size: 0;
		width: 26px;
		height: 26px;
		border: 2px solid #303030;
		border-radius: 50%;
		padding: 22px;
		@include adaptiv-value("padding", 22, 15, 1);
		cursor: pointer;
		transition: all 0.3s ease 0s;
	}

	.slick-arrow.slick-prev {
		@include adaptiv-value("left", 64, 0, 1);
		background: url("../images/slider/arrow-left.svg") center no-repeat;
	}
	.slick-arrow.slick-next {
		@include adaptiv-value("right", 64, 0, 1);
		background: url("../images/slider/arrow-right.svg") center no-repeat;
	}

	// .slider-basics__item

	&__item {
	}
}

//========================================================================================

.work {
	@include adaptiv-value("padding-top", 90, 20, 1);
	padding-bottom: 30px;

	// .work__container

	&__container {
	}

	// .work__title

	&__title {
		&:not(:last-child) {
			margin-bottom: 60px;
		}
	}

	// .work__items

	&__items {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -15px;
		row-gap: 30px;
	}

	// .work__item

	&__item {
		padding: 0 15px;
		flex: 1 1 25%;
	}
}
.item-work {
	height: 100%;
	padding: 25px 25px 40px 25px;
	@include adaptiv-value("padding", 25, 15, 1);
	background-color: #252525;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
	border-radius: 6px;
	transition: all 0.5s ease 0s;

	// .item-work__title

	&__title {
		font-size: 22px;
		line-height: 1.18;
		letter-spacing: -0.275px;
		text-transform: capitalize;
		position: relative;
		padding-bottom: 15px;
		transition: all 0.5s ease 0s;

		&:not(:last-child) {
			margin-bottom: 25px;
		}

		&::before {
			content: "";
			position: absolute;
			bottom: 0;
			left: 0;
			width: 60px;
			height: 2px;
			background-color: $color-green;
		}
	}

	// .item-work__text

	&__text {
		font-size: 13px;
		line-height: 1.38;
		letter-spacing: -0.1625px;
		color: rgba(255, 255, 255, 0.5);
		transition: all 0.5s ease 0s;
	}

	&:hover {
		background-color: $color-green;
		.item-work__title {
			color: #000;
			&::before {
				background-color: #000;
			}
		}
		.item-work__text {
			color: #000;
		}
	}
}

//========================================================================================

.dishes {
	@include adaptiv-value("padding-top", 90, 20, 1);
	padding-bottom: 30px;

	// .dishes__container

	&__container {
	}

	// .dishes__title

	&__title {
		&:not(:last-child) {
			margin-bottom: 40px;
		}
	}

	// .dishes__items

	&__items {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -15px;
		row-gap: 30px;
	}

	// .dishes__item

	&__item {
		padding: 0 15px;
		flex: 1 1 33.333%;
	}
}

.item-dishes {
	background-color: #252525;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
	border-radius: 6px;
	height: 100%;
	display: flex;
	flex-direction: column;
	position: relative;

	// .item-dishes__picture

	&__picture {
		padding: 0px 0px 74.286% 0px;
		@include ibg();
	}

	// .item-dishes__image

	&__image {
		border-top-left-radius: 6px;
		border-top-right-radius: 6px;
	}

	// .item-dishes__icon

	&__icon {
		position: absolute;
		width: 40px;
		height: 40px;
		border-radius: 50%;
		top: 25px;
		right: 25px;
		background-color: rgba(0, 0, 0, 0.3);
		display: flex;
		align-items: center;
		justify-content: center;
		transition: all 0.3s ease 0s;

		&:hover {
			background-color: $color-green;
		}
	}

	// .item-dishes__body

	&__body {
		display: flex;
		flex-direction: column;
		flex: 1 1 auto;
		@include adaptiv-value("padding", 30, 15, 1);
	}

	// .item-dishes__title

	&__title {
		font-size: 32px;
		line-height: 1;
		color: #d9d9d9;
	}

	// .item-dishes__subtitle

	&__subtitle {
		font-size: 12px;
		line-height: 1.33;
		letter-spacing: -0.15px;
		color: #a4a8b2;

		&:not(:last-child) {
			margin-bottom: 20px;
		}
	}

	// .item-dishes__text

	&__text {
		font-size: 13px;
		line-height: 1.38;
		letter-spacing: -0.1625px;
		color: #85878c;
		flex: 1 1 auto;

		&:not(:last-child) {
			margin-bottom: 20px;
		}
	}

	// .item-dishes__actions

	&__actions {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;
		column-gap: 40px;
		row-gap: 20px;
		@include adaptiv-value("column-gap", 40, 5, 1);
	}

	// .item-dishes__form

	&__form {
	}

	// .item-dishes__rating

	&__rating {
	}

	// .item-dishes__button

	&__button {
		padding: 13px 30px;
		width: 100%;
	}
}
// .simple-rating {
// 	position: relative;
// 	font-size: 16px;
// 	display: inline-block;

// 	&::before {
// 		content: "★★★★★";
// 		display: block;
// 		// color: #4d4d4d;
// 	}

// 	// .simple-rating__items

// 	&__items {
// 		position: absolute;
// 		width: 100%;
// 		height: 100%;
// 		top: 0;
// 		left: 0;
// 		display: flex;
// 		flex-direction: row-reverse;
// 		overflow: hidden;
// 	}

// 	// .simple-rating__item

// 	&__item {
// 		position: absolute;
// 		width: 0%;
// 		height: 0%;
// 		top: 0;
// 		left: 0;
// 		opacity: 0;
// 		visibility: hidden;
// 	}

// 	// .simple-rating__label

// 	&__label {
// 		flex: 0 0 20%;
// 		height: 100%;
// 		cursor: pointer;
// 		color: #4d4d4d;

// 		&::before {
// 			content: "★";
// 			display: block;
// 			transition: color 0.3s ease 0s;
// 		}
// 	}
// 	.simple-rating__item:checked,
// 	.simple-rating__item:checked ~ .simple-rating__label {
// 		color: #fa9600;
// 	}
// 	.simple-rating__label:hover,
// 	.simple-rating__label:hover ~ .simple-rating__label,
// 	.simple-rating__label:checked ~ .simple-rating__label:hover {
// 		color: #f9ad3d;
// 	}
// }

.rating {
	display: flex;
	align-items: center;
	font-size: 16px;
	line-height: 0.75;

	// .rating__body

	&__body {
		position: relative;

		&::before {
			content: "★★★★★";
			display: block;
			color: #4d4d4d;
		}
	}

	// .rating__active

	&__active {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		overflow: hidden;

		&::before {
			content: "★★★★★";
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			color: #f9ad3d;
		}
	}

	// .rating__items

	&__items {
		display: flex;
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}

	// .rating__item

	&__item {
		flex: 0 0 20%;
		height: 100%;
		opacity: 0;
		cursor: pointer;
	}

	// .rating__value

	&__value {
		font-weight: 7 00;
		font-size: 12px;
		line-height: 1;
		letter-spacing: 1.5px;
		color: #b3b3b3;
		padding: 0px 0px 0px 15px;
	}
}

//========================================================================================

.chefs {
	@include adaptiv-value("padding-top", 90, 20, 1);
	padding-bottom: 30px;

	// .chefs__container

	&__container {
	}

	// .chefs__title

	&__title {
		&:not(:last-child) {
			margin-bottom: 40px;
		}
	}

	// .chefs__items

	&__items {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -15px;
		row-gap: 30px;
	}

	// .chefs__item

	&__item {
		padding: 0 15px;
		flex: 1 1 33.333%;
	}
}
.item-chefs {
	height: 100%;
	// .item-chefs__body

	&__body {
		display: flex;
		column-gap: 25px;

		&:not(:last-child) {
			margin-bottom: 25px;
		}
	}

	// .item-chefs__image

	&__image {
		flex: 0 0 65px;
		img {
			border-radius: 50%;
			max-height: 65px;
			height: 65px;
			object-fit: cover;
		}
	}

	// .item-chefs__info

	&__info {
	}

	// .item-chefs__name

	&__name {
		font-size: 18px;
		line-height: 1.17;
		letter-spacing: -0.225px;

		&:not(:last-child) {
			margin-bottom: 6px;
		}
	}

	// .item-chefs__profession

	&__profession {
		font-size: 12px;
		line-height: 1.33;
		letter-spacing: -0.15px;
		color: rgba(255, 255, 255, 0.5);
	}

	// .item-chefs__pics

	&__pics {
		display: flex;
		@include adaptiv-value("column-gap", 15, 5, 1);
	}

	// .item-chefs__img

	&__img {
		flex: 1 1 65px;
		img {
			width: 100%;
			max-height: 65px;
			height: 65px;
			object-fit: cover;
		}
		// .item-chefs__img_big

		&_big {
			flex: 1 1 160px;
		}
	}
}

//========================================================================================

.recipes {
	@include adaptiv-value("padding-top", 90, 20, 1);
	padding-bottom: 30px;

	// .recipes__container

	&__container {
	}

	// .recipes__title

	&__title {
		&:not(:last-child) {
			margin-bottom: 40px;
		}
	}

	// .recipes__rows

	&__rows {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -15px;
		row-gap: 30px;
	}

	// .recipes__column

	&__column {
		padding: 0 15px;
		flex: 1 1 50%;

		// .recipes__column_big

		&_big {
		}
	}

	// .recipes__main

	&__main {
		height: 100%;
	}

	// .recipes__items

	&__items {
		display: flex;
		flex-direction: column;
		margin: -15px 0;
		height: 100%;
	}

	// .recipes__item

	&__item {
		padding: 15px 0;
	}
}
.main-recipes {
	background: linear-gradient(180deg, rgba(38, 38, 38, 0.0001) 0%, rgba(38, 38, 38, 0.5) 100%),
		url("../images/recipes/main-recipe-bg.jpg") center / cover no-repeat;
	border-radius: 6px;
	min-height: 510px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;

	// .main-recipes__link

	&__link {
		position: absolute;
		top: 30px;
		right: 30px;
	}

	// .main-recipes__head

	&__head {
		&:not(:last-child) {
			margin-bottom: 65px;
		}
	}

	// .main-recipes__date

	&__date {
		font-size: 14px;
		line-height: 2.15;

		&:not(:last-child) {
			margin-bottom: 25px;
		}
	}

	// .main-recipes__title

	&__title {
		font-size: 24px;
		line-height: 1.67;
		text-align: center;
		max-width: 420px;

		&:not(:last-child) {
			margin-bottom: 45px;
		}
	}

	// .main-recipes__name

	&__name {
		font-size: 14px;
		line-height: 2.14;

		&:not(:last-child) {
			margin-bottom: 60px;
		}
	}

	// .main-recipes__info

	&__info {
	}
}

.info-recipes {
	display: flex;
	column-gap: 30px;
	@include adaptiv-value("column-gap", 30, 14, 1);
	align-items: center;
	// .info-recipes__view

	&__view {
		display: flex;
		align-items: center;
		column-gap: 15px;
		@include adaptiv-value("column-gap", 14, 5, 1);
		padding-left: 25px;
		position: relative;

		svg {
			position: absolute;
			top: 50%;
			left: 0;
			transform: translate(0%, -50%);
		}

		&:hover {
			.info-recipes__value {
				color: #000;
			}
			.info-recipes__icon_eye {
				svg rect {
					fill: #000;
				}
			}
		}
	}

	// .info-recipes__icon

	&__icon {
		// .info-recipes__icon_eye

		&_eye {
			svg rect {
				transition: all 0.3s ease 0s;
			}
		}

		// .info-recipes__icon_ques

		&_ques {
			svg rect {
				transition: all 0.3s ease 0s;
			}
		}
	}

	// .info-recipes__value

	&__value {
		transition: all 0.3s ease 0s;
		font-weight: 700;
		font-size: 12px;
		line-height: 2.5;
	}

	// .info-recipes__ques

	&__ques {
		display: flex;
		align-items: center;
		column-gap: 15px;
		@include adaptiv-value("column-gap", 15, 5, 1);
		padding-left: 25px;
		position: relative;

		svg {
			position: absolute;
			top: 50%;
			left: 0;
			transform: translate(0%, -50%);
		}

		&:hover {
			.info-recipes__value {
				color: #000;
			}
			.info-recipes__icon_ques {
				svg rect {
					fill: #000;
				}
			}
		}
	}
}
.item-recipes {
	background-color: #252525;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
	border-radius: 6px;
	@include adaptiv-value("padding", 30, 10, 1);
	transition: all 0.3s ease 0s;

	// .item-recipes_bg

	&_bg {
		background: #252525 url("../images/recipes/recipe-bg.jpg") center / cover no-repeat;
		transition: all 0.3s ease 0s;
	}

	&:hover {
		background: $color-green;
		.item-recipes__text,
		.footer-item__date {
			color: #000;
		}
		.footer-item__meal {
			background-color: #000;
		}
	}

	// .item-recipes__text

	&__text {
		transition: all 0.3s ease 0s;
		&:not(:last-child) {
			margin-bottom: 10px;
		}
	}

	// .item-recipes__footer

	&__footer {
	}
}
.footer-item {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	column-gap: 15px;
	row-gap: 15px;

	// .footer-item__meal

	&__meal {
		align-self: start;
		transition: all 0.3s ease 0s;
	}

	// .footer-item__date

	&__date {
		font-size: 12px;
		line-height: 2;
		color: #b3b3b3;
		margin-right: auto;
		transition: all 0.3s ease 0s;
	}

	// .footer-item__info

	&__info {
	}
}

//========================================================================================

.social {
	@include adaptiv-value("padding-top", 90, 20, 1);
	@include adaptiv-value("padding-bottom", 120, 40, 1);

	// .social__container

	&__container {
	}

	// .social__title

	&__title {
		&:not(:last-child) {
			margin-bottom: 40px;
		}
	}

	// .social__items

	&__items {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -15px;
		row-gap: 30px;
	}

	// .social__item

	&__item {
		padding: 0 15px;
		flex: 1 1 33.333%;
	}
}
.item-social {
	background-color: #252525;
	height: 100%;
	display: flex;
	flex-direction: column;

	// .item-social__top

	&__top {
		@include adaptiv-value("padding", 25, 10, 1);
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;
		@include adaptiv-value("column-gap", 20, 5, 1);
		row-gap: 10px;
		padding-bottom: 25px;
		border-bottom: 2px solid #303030;
	}

	// .item-social__net

	&__net {
		display: flex;
		align-items: center;
		column-gap: 20px;
		@include adaptiv-value("column-gap", 20, 5, 1);

		&:hover {
			.item-social__icon {
				background-color: lighten(#303030, 10%);
				border: 2px solid rgba(255, 255, 255, 0.3);
			}
			.item-social__soc {
				color: #fff;
			}
		}
	}

	// .item-social__icon

	&__icon {
		flex: 0 0 40px;
		display: flex;
		align-items: center;
		justify-content: center;
		border: 2px solid #303030;
		border-radius: 50%;
		padding: 3px;
		transition: all 0.3s ease 0s;
	}

	// .item-social__soc

	&__soc {
		font-size: 14px;
		line-height: 2;
		color: #bfbfbf;
		transition: all 0.3s ease 0s;
	}

	// .item-social__button

	&__button {
		padding: 12px 20px;
	}

	// .item-social__body

	&__body {
		@include adaptiv-value("padding", 25, 10, 1);
		padding-top: 25px;
		display: flex;
		flex-direction: column;
		font-size: 14px;
		line-height: 2;
		flex: 1 1 auto;

		// .item-social__body_pic

		&_pic {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			flex: 0 0 auto;
			position: relative;
			overflow: hidden;

			&:hover {
				.item-social__link {
					transform: translate(-50%, 0%);
					opacity: 1;
				}
			}
		}
	}

	// .item-social__date

	&__date {
		color: #737373;

		&:not(:last-child) {
			margin-bottom: 10px;
		}
	}

	// .item-social__text

	&__text {
		color: rgba(255, 255, 255, 0.7);
		flex: 1 1 auto;

		&:not(:last-child) {
			margin-bottom: 10px;
		}
	}

	// .item-social__mail

	&__mail {
		color: $color-green;
		align-self: start;
		transition: all 0.3s ease 0s;

		&:hover {
			color: darken($color-green, 10%);
		}
	}

	// .item-social__link

	&__link {
		position: absolute;
		top: 40px;
		left: 50%;
		transform: translate(-50%, -200%);
		opacity: 0;
		background-color: $color-green;
		color: #4d4d4d;
		transition: all 0.3s ease 0s;
	}

	// .item-social__picture

	&__picture {
		flex: 1 1 33.333%;
		max-width: 115px;
	}
}

//========================================================================================

.footer {
	background-color: #252525;

	// .footer__container

	&__container {
	}

	// .footer__top

	&__top {
		padding: 30px 0;
		border-bottom: 2px solid #303030;
		position: relative;
	}

	// .footer__items

	&__items {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -15px;
		row-gap: 30px;
	}

	// .footer__item

	&__item {
		padding: 0 15px;
		flex: 1 1 33.333%;
		min-width: 200px;
	}

	// .footer__body

	&__body {
		text-align: center;
		@include adaptiv-value("padding-top", 40, 20, 1);
		@include adaptiv-value("padding-bottom", 40, 20, 1);
	}

	// .footer__logo

	&__logo {
		&:not(:last-child) {
			margin-bottom: 10px;
		}
	}

	// .footer__copy

	&__copy {
	}
}
.item-footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;

	// .item-footer_time

	&_time {
	}

	// .item-footer__icon

	&__icon {
		&:not(:last-child) {
			margin-bottom: 13px;
		}
	}

	// .item-footer__info

	&__info {
		line-height: 1.88;
		text-align: center;
	}

	// .item-footer__text

	&__text {
		font-size: 14px;
		line-height: 2;
		opacity: 0.5;
	}
}

//========================================================================================
@import "_media";
//========================================================================================
